:root {
  //Fonts
  --font-main: "Inter", sans-serif;

  //Borders
  --br: 60px;
  --br-main: 20px;
  //Borders color
  --br-color: rgba(112, 163, 204, 0.486);

  //Light Theme
  //Colors
  --bg-color-primary: rgba(255, 255, 255, 0.74);
  --bg-color-secondary: rgba(202, 200, 200, 0.568);

  //Dark Theme
  --drk-color-primary: rgb(30, 30, 30);
  --drk-color-secondary: ;
}
