:root {
  //Fonts
  --font-main: "Inter", sans-serif;
 //Light Theme
  //Borders
  --br: 60px;
  --br-main: 20px;
  //Borders color
  --br-color: rgba(112, 163, 204, 0.486);
  //Colors
  --main-color: rgba(140, 171, 238, 0.178);
  --bg-color-primary: rgba(255, 255, 255, 0.74);
//Font color
--font-color: black;
}


[data-theme="dark"]{

//Dark Theme
 --main-color: rgb(21, 24, 34);
  --bg-color-primary: rgba(177, 177, 177, 0.137);
//Border color
  --br-color: rgba(128, 130, 131, 0.486);

  
  //Font color
  --font-color: white;
}
