:root{
//Borders
--br: 60px;
--br-main: 20px;
--font-main: "Inter", sans-serif ;

--bg-color-primary:rgba(209, 205, 205, 0.308);
//Light Theme

//Dark Theme
--drk-color-primary: rgba(30, 30, 30, 1);
--drk-color-secondary: ;



}