.weather-page{
    &__container{
        margin: 1rem;
    }
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(2,auto);
        justify-content: center;
        align-items: center;
        gap: clamp(0.875rem, 0.5882rem + 1.1765vw, 1.5rem);
        width: auto;
        margin-top: 1.5rem;
        
    }

    @media (max-width: 900px){
        &__wrapper{
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }
    }
}