.search {
  &__input-wrapper {
    display: flex;
    align-items: center;

    height: 56px;
    max-width: 400px;
    width: 100%;
    background-color: var(--bg-color-primary);
    border-radius: var(--br);
    padding: 1rem;
  }
  &__input {
    max-width: 400px;
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 1rem;
    &:focus{
          outline: none;
    }
  }
 
}
