.weather-details {
  &__main-wrapper {
    background-color: var(--bg-color-primary);
    border-radius: var(--br-main);
    width: auto;
    height: auto;
    padding: clamp(1rem, 0.7706rem + 0.9412vw, 1.5rem);
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: clamp(0.625rem, 0.4529rem + 0.7059vw, 1rem);
    padding-top: 1.5rem;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: clamp(0.3125rem, -0.0029rem + 1.2941vw, 1rem);
  }
  &__info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 0.6rem;
    border-radius: var(--br-main);
    border: 1px solid var(--br-color);
    width: auto;
    height: auto;
    padding: clamp(0.625rem, 0.4529rem + 0.7059vw, 1rem);
  }
  &__info-icon{
width: 22px;
height: 18px;
  }
  &__icon{
    width: clamp(0.625rem, 0.5103rem + 0.4706vw, 0.875rem);
    height: auto;
 
  
  }
  &__info {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    align-items: center;
  }
&__title{
  font-size: 1rem;
}
  &__information {
    font-weight: bold;
    font-size: 1.7rem;
  }
  &__designations {
    font-size: 14px;
  }
  &__status {
    font-size: clamp(0.75rem, 0.6926rem + 0.2353vw, 0.875rem);
  }
  &__right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: auto;
  }
  &__astro {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: auto;
    border: 1px solid var(--br-color);
    padding: 1rem;
    border-radius: var(--br-main);
  }
  &__astro-title{
    font-size: 1rem;
  }
  &__astro-icon{
    flex-shrink: 0;
    width: clamp(3.125rem, 2.15rem + 4vw, 5.25rem);
    height:clamp(3.125rem, 2.15rem + 4vw, 5.25rem) ;
  }
  &__astro-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__astro-time {
    font-weight: bold;
  }

  @media (max-width: 900px){
        &__wrapper{
            display: flex;
        
        }
        &__astro{
          justify-content: center;
        }
    }
     @media (max-width: 450px){
        &__wrapper{
            flex-direction: column;
        
        }
       
    }
    

}
