.header{
    &__main-wrapper{
        display: flex;
        justify-content: space-around;
        width: 100%;
          align-items: center;
    }
    &__widgets-wrapper{
        display: flex;

        justify-content: center;
        align-items: center;
        gap: 1rem;
        
    }
}