.main-weather-card {
  &__wrapper {
    background-color: var(--bg-color-primary);
    border-radius: var(--br-main);
    width: 556px;
    height: auto;
    padding: 1.5rem;
  }
  &__place {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__info-wrapper{
    display: flex;
  }
  &__right{
    display: flex;

  }
  &__degrees-wrapper{
    display: flex;
    flex-direction: column;
    gap: 45px;
  }
  &__degrees{
    display: flex;
    flex-direction: column;
  
  }
  &__main-degree{
    font-size: 40px
  }
}
